@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Neucha');
@import 'https://fonts.googleapis.com/css?family=Poiret+One';


.container-fluid
	padding: 0;

// /*Главаный баннер*/
.images img
	width: 100%;

// главное меню
.navbar
	margin-bottom: 20px;

.navbar-brand img 
	width: 100px;

.navbar-brand
	font-family: 'Bad Script', cursive;
	font-size: 22pt;
	color: green;

.nav-link
	font-family: 'Poiret One', cursive;
	font-size: 18pt;

.nav-link i
	color: green;

// .list
// 	text-align: center;
// 	margin-top: 30px;
// 	margin-bottom: 50px;
// .list li 
// 	list-style-type: none;
// 	display: inline;
// 	padding-right: 25px;


// .list li a 
// 	color: black;
// 	// color: rgb(80, 173, 13)
// 	text-decoration: none;
// 	font-family: 'Poiret One', cursive;
// 	font-size: 22pt;
// 	font-weight: bold;
// 	// letter-spacing: 5px;


// .list li i 
// 	font-size: 28px;

// /*Главаный баннер*/
.images img
	width: 100%;



/*Заглавные надписи*/

.photagraph h3
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 28pt;
	border-bottom: 3px solid green;
	padding-bottom: 15px;

// Форма
label
	font-family: 'Poiret One', cursive;
	font-size: 18pt;
	font-weight: bold;

form
	margin-bottom: 30px;





/*Подвал*/
.info 
	border-top: 2px solid black;
	margin-top: 20px;


.info_content
	/*text-align: center;*/
	padding: 0;
	margin: 0;


.info_content li 
	list-style-type: none;


.info_content,.infothree 
	margin-top: 30px;


.info_content h3 
	font-size: 26pt;
	font-family: 'Neucha', cursive;
	color: green;


.infothree h3 
	font-size: 26pt;
	font-family: 'Neucha', cursive;
	color: green;


.infothree ul li
	display: inline;
	padding-left: 5px;


.info_content li a 
	color: black;
	text-decoration: none;
	font-family: 'Neucha', cursive;
	font-size: 14pt;

.info_content li
	color: black;
	text-decoration: none;
	font-family: 'Neucha', cursive;
	font-size: 14pt;


.infothree ul li a  
	color: black;
	text-decoration: none;