@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Neucha');
@import 'https://fonts.googleapis.com/css?family=Poiret+One';

/*Верхнее меню*/
// .header
// 	margin-top: 20px;

// главное меню

.container-fluid
	padding: 0;

// /*Главаный баннер*/
.images img
	width: 100%;

// главное меню
.navbar
	margin-bottom: 20px;

.navbar-brand img 
	width: 100px;

.navbar-brand
	font-family: 'Bad Script', cursive;
	font-size: 22pt;
	color: green;

.nav-link
	font-family: 'Poiret One', cursive;
	font-size: 18pt;

.nav-link i
	color: green;


// .list
// 	text-align: center;
// 	margin-top: 30px;
// 	margin-bottom: 50px;
// .list li 
// 	list-style-type: none;
// 	display: inline;
// 	padding-right: 25px;


// .list li a 
// 	color: black;
// 	// color: rgb(80, 173, 13)
// 	text-decoration: none;
// 	font-family: 'Poiret One', cursive;
// 	font-size: 22pt;
// 	font-weight: bold;
// 	// letter-spacing: 5px;

// .list li a:hover
// 	border-bottom: 3px solid green;


// .list li i 
// 	font-size: 28px;
// 	color: green;

// /*Главаный баннер*/
.images img
	width: 100%;

// Заглавные надписи
.phoragph
	font-family: 'Poiret One', cursive;
	font-size: 24pt;
	margin-bottom: 2%;
	border-bottom: 2px solid green;
	text-align: center;

.caption
	font-family: 'Neucha', cursive;
	font-size: 18pt;
	text-align: center;
	margin-top: 2%;

.wrapper
	margin-top: 1%;
	border-top: 2px dashed black;
	border-bottom: 2px dashed black;

.content
	font-family: 'Neucha', cursive;
	font-size: 14pt;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;

input[type="text"]
	width: 70%;

.list_checkbox
	padding: 0px;
	margin: 0px;

.list_checkbox li 
	list-style-type: none;	

.checkbox
	width: 5%;

.form-control
	width: 70%;

button[type="submit"]
	background-color: green;
	margin-bottom: 5%;
	font-family: 'Poiret One', cursive;
	font-size: 14pt;
	font-weight: bold;

label
	font-family: 'Neucha', cursive;
	font-size: 14pt;
	


/*Подвал*/
.info 
	border-top: 2px solid black;
	margin-top: 20px;


.info_content
	/*text-align: center;*/
	padding: 0;
	margin: 0;


.info_content li 
	list-style-type: none;


.info_content,.infothree 
	margin-top: 30px;


.info_content h3 
	font-size: 26pt;
	font-family: 'Neucha', cursive;
	color: green;


.infothree h3 
	font-size: 26pt;
	font-family: 'Neucha', cursive;
	color: green;


.infothree ul li
	display: inline;
	padding-left: 5px;


.info_content li a 
	color: black;
	text-decoration: none;
	font-family: 'Neucha', cursive;
	font-size: 14pt;

.info_content li
	color: black;
	text-decoration: none;
	font-family: 'Neucha', cursive;
	font-size: 14pt;


.infothree ul li a  
	color: black;
	text-decoration: none;