@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Neucha');
@import 'https://fonts.googleapis.com/css?family=Poiret+One';


/*Верхнее меню*/
// .header
// 	margin-top: 20px;

.container-fluid
	padding: 0;

// /*Главаный баннер*/
.images img
	width: 100%;

// главное меню
.navbar
	margin-bottom: 20px;

.navbar-brand img 
	width: 100px;

.navbar-brand
	font-family: 'Bad Script', cursive;
	font-size: 22pt;
	color: green;

.nav-link
	font-family: 'Poiret One', cursive;
	font-size: 18pt;

.nav-link i
	color: green;
// .list
// 	text-align: center;
// 	margin-top: 30px;
// 	margin-bottom: 50px;

// .list li 
// 	list-style-type: none;
// 	display: inline;
// 	padding-right: 25px;


// .list li a 
// 	color: black;
// 	// color: rgb(80, 173, 13)
// 	text-decoration: none;
// 	font-family: 'Poiret One', cursive;
// 	font-size: 22pt;
// 	font-weight: bold;
// 	// letter-spacing: 5px;

// .list li a:hover
// 	border-bottom: 3px solid green;


// .list li i 
// 	font-size: 28px;
// 	color: green;

// Боковой фильтр Селекционеры
.dreeders ul 
	padding: 0px;
	margin: 0px;

.dreeders ul li 
		list-style-type: none;

.dreeders ul li a, .button_filter
	font-family: 'Poiret One', cursive;
	font-size: 18pt;
	color: black;

.dreeders ul li a:hover
	color: green;
	font-size: 22pt;

.title_filter
	font-family: 'Poiret One', cursive;
	font-size: 22pt;
	color: black;
	font-weight: bold;
	border-bottom: 3px solid green;


// Фильтры с чекбоксами
input[type="checkbox"]
	height: 20px;
	width: 50px;

// 
.page-link
	color: black;

// Товар

// Название
.name
	font-family: 'Neucha', cursive;
	font-size: 18pt;
	margin-bottom: 5%;
.photo img
	width: 100%;


.vendor_code, .quantitay_is_stock, .description,label, input[type="radio"]
	font-size: 16pt;
	font-family: 'Neucha', cursive;

.price
	color: red;
	font-size: 14pt;


input[type="submit"]
	margin-top: 5%;
	background-color: rgba(0,128,0,0.67);
	border: none;
	width: 180px;
	height: 45px;
	border-radius: 20px;

.quantitay 
	margin-top: 5%;

input[type="text"]
	width: 80px;
.description
	margin-top: 5%;



/*Подвал*/
// .info 
// 	border-top: 2px solid black;


.info_content
	/*text-align: center;*/
	padding: 0;
	margin: 0;


.info_content li 
	list-style-type: none;


.info_content,.infothree 
	margin-top: 30px;


.info_content h3 
	font-size: 26pt;
	font-family: 'Neucha', cursive;
	color: green;


.infothree h3 
	font-size: 26pt;
	font-family: 'Neucha', cursive;
	color: green;


.infothree ul li
	display: inline;
	padding-left: 5px;


.info_content li a 
	color: black;
	text-decoration: none;
	font-family: 'Neucha', cursive;
	font-size: 14pt;

.info_content li
	color: black;
	text-decoration: none;
	font-family: 'Neucha', cursive;
	font-size: 14pt;


.infothree ul li a  
	color: black;
	text-decoration: none;

