@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Bad+Script';
@import 'https://fonts.googleapis.com/css?family=Neucha';
@import url('https://fonts.googleapis.com/css?family=Lobster');


// body
	// background-color: rgba(145, 253, 103, 0.18);

.container-fluid
	padding: 0px;

// главное меню
.navbar
	// position: fixed;
	// background-color: white;
	// z-index: 1;
	// height: 100px;
	// top: 0px;

.navbar-brand img 
	width: 100px;

.navbar-light .navbar-brand
	font-family: 'Bad Script', cursive;
	font-size: 20pt;
	color: green;

.navbar-light .navbar-nav .nav-link
	font-family: 'Poiret One', cursive;
	font-size: 16pt;
	color: black;	


// Поисовый див
.search
	border-radius: 20px;
	border: 1px solid green;
	text-align: center;

.search_block
	display: none;

.search_block_vis
	display: block;
	position: absolute;
	bottom: 10px;
	right: 1px;


// .list
// 	text-align: center;

// .list li 
// 	list-style-type: none;
// 	display: inline;
// 	padding-right: 25px;


// .list li a, .name
// 	color: black;
// 	text-decoration: none;
// 	font-family: 'Poiret One', cursive;
// 	font-size: 24pt;
// 	font-weight: bold;
// 	// letter-spacing: 5px;


// .list li i 
// 	font-size: 25px;

/*Главаный баннер*/
.images img
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;

/*Слайдер Акций*/
.carousel
	margin-top: 30px;


.shares img
	width: 100%;


/*Приветствие*/

.greeting
	margin-top: 50px;
.greeting p
	color: black;
	font-family: 'Lobster', cursive;
	font-size: 24pt;
	text-align: center;
	padding-left: 15px;
.img
	text-align: center;

.img img
	border-radius: 70%;
	width: 55%;
	height: 90%;

	
/*Заглавные надписи*/
.photagraph
	margin-top: 35px;
	margin-bottom: 30px;
.photagraph h3
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 40pt;
	/*border-bottom: 3px solid b;*/
	padding-bottom: 15px;
	border-bottom: 3px solid green;
	


/*Новости*/

.card 
	border: none;
	margin-bottom: 10px;
	width: 300px;
	float: left;
	margin-left: 20px;

.card-body 
	text-align: justify;
	font-family: 'Neucha', cursive;
	font-size: 14pt;

.card span
	color: green;


.line 
	border-bottom: 10px solid black;

/*Карточка товара*/
.goods 
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	border-right: 2px solid grey;
	box-sizing: border-box;
 

.goods  img 
	width: 90%;
	height: 278px;

.goods .name 
	font-size: 20pt;
	font-family: 'Poiret One', cursive;
	font-weight: bold;


.goods .price 
	font-size: 16pt;
	font-family: 'Neucha', cursive;


.add
	width: 45%;
	background-color: green;
	border: none;
	color: white;
	font-family: 'Neucha', cursive;
	font-size: 18pt;
	
.add i
	padding-left: 5px;

.read_more 
	width: 45%;
	background-color: green;
	border: none;
	color: white;
	font-family: 'Neucha', cursive;
	font-size: 18pt;
	// margin-left: 25px;


.popular_goods 
	margin-bottom: 40px;


/*Подвал*/
.info 
	border-top: 2px solid black;


.info_content ul
	/*text-align: center;*/
	// padding: 0;
	// margin: 0;


.info_content li 
	list-style-type: none;

.info_content li a 
	color: black;
	font-family: 'Neucha', cursive;
	font-size: 14pt;


.info_content,.infothree 
	margin-top: 30px;
	font-family: 'Neucha', cursive;
	font-size: 14pt;


.info_content h3 
	font-size: 26pt;
	font-family: 'Neucha', cursive;
	color: green;

.infothree
	padding-left: 30px;

.infothree h3 
	font-size: 26pt;
	font-family: 'Neucha', cursive;
	color: green;


.infothree ul li
	display: inline;
	padding-left: 5px;


.info_content ul li a 
	color: black;
	text-decoration: none;


.infothree ul li a  
	color: black;
	text-decoration: none;

.social_networcks
	padding: 0px;

.icon
	font-size: 16pt;
	margin-left: 15px;
	color: green;

.form-control
	border: none;
	border-bottom: 2px solid green;


// Cтили к слайдеру 

.slider 
	position: relative;
	/*border: 5px solid red;*/
	width: 955px;
	height: 450px;
	overflow: hidden;
	margin: 50px auto;


// ul 
// 	margin: 0px;
// 	padding: 0px;

.polosa
	position: relative;
	left: 0px;
	right: 0px;
	// background-color: pink;
	width: 2000px;
	transition: all ease 1s;


.list li
	float: left;
	list-style-type: none;

.polosa::after 
	content: '';
	display: block;
	clear: both;


.card img 
	width: 100%;



/*кнопки*/
// .next, .prev 
// 	border-radius: 45px;
// 	border: 1px solid green;
// 	position: absolute;
// 	padding: 10px;
// 	background-color: green;
// 	font-size: 20pt;
// 	font-weight: bold;
// 	color: white;

// .next 
// 	top: 140px;
// 	left: 0px;
// 	width: 53px;


// .prev 
// 	top: 140px;
// 	right: 0px;
// 	width: 53px;

.carousel-control-prev-icon, .carousel-control-next-icon
	background-color: green;

.carousel-inner 
	height: 400px;

.qqq
	text-align: center;
