
@media (min-width: 768px) and (max-width: 1024px)
	.navbar-brand img
		width: 76px;
	.navbar-brand
		font-size: 18pt;
	.nav-link
		font-size: 16pt;

	.title_filter
		font-size: 18pt;

	.dreeders ul li a
		font-size: 16pt;

	.button_filter
		font-size: 16pt;

@media (min-width: 425px) and (max-width: 768px)
	#filter
		display: none;

	.description
		margin-bottom: 20px;

@media (min-width: 375px) and (max-width: 425px)
	#filter
		display: none;

	.description
		margin-bottom: 20px;

	.navbar-brand img
		width: 76px;
	.navbar-brand
		font-size: 17pt;
	.photo img
		width: 92%;
@media (min-width: 320px) and (max-width: 375px)
	.navbar-brand img
		width: 63px;
	.navbar-brand
		font-size: 14pt;

@media (min-width: 300px) and (max-width: 320px)
	#filter
		display: none;

	.description
		margin-bottom: 20px;

	.navbar-brand img
		width: 50px;
	.navbar-brand
		font-size: 12pt;
