@media (min-width: 768px) and (max-width: 1024px)
	.hidden
		display: none;
	.filter
		display: block;
		width: 250px;
		font-size: 14pt;
		font-family: 'Poiret One', cursive;
		font-weight: bold;


	// Стили
	.navbar img
		width: 80px;

	.navbar-light .navbar-brand
		font-size: 16pt;
	.nav-link
		font-size: 15pt;

	.photagraph h3
		font-size: 30pt;

	.goods img 
		width: 81%;

	.block
	display: block;

@media (min-width: 425px) and (max-width: 768px)
	.hidden
		display: none;
	.filter
		display: block;
		width: 250px;
		font-size: 14pt;
		font-family: 'Poiret One', cursive;
		font-weight: bold;

	.goods img
		width: 68%;


@media (min-width: 320px) and (max-width: 425px)
	.hidden
		display: none;
	.filter
		display: block;
		width: 300px;
		font-size: 14pt;
		font-family: 'Poiret One', cursive;
		font-weight: bold;
		margin-left: 46px;

	.select_filters
		text-align: center;
		margin-top: 10px;

	.select_filters select
		width: 300px;

	.navbar img
		width: 70px;

	.navbar-light .navbar-brand
		font-size: 17pt;

	.photagraph h3
		font-size: 22pt;

	.goods
		border: none;

	.goods img 
		width: 56%;

	.add, .read_more
		width: 29%;


@media (min-width: 320px) and (max-width: 375px)
	.filter
		display: block;
		width: 300px;
		font-size: 14pt;
		font-family: 'Poiret One', cursive;
		font-weight: bold;
		margin-left: 23px;

	.navbar img
		width: 50px;

	.navbar-light .navbar-brand
		font-size: 12pt;

	.goods img 
		width: 56%;
		height: 171px;

	.add, .read_more
		width: 33%;
	
	.page-item
		font-size: 8pt;




