@media (min-width: 768px) and (max-width: 1024px)
	.navbar-brand img
		width: 76px;
	.navbar-brand
		font-size: 18pt;
	.nav-link
		font-size: 16pt;
	.comment_btn
		margin-left: -12px;

@media (min-width: 375px) and (max-width: 425px)
	.navbar-brand img
		width: 76px;
	.navbar-brand
		font-size: 17pt;

@media (min-width: 320px) and (max-width: 375px)
	.navbar-brand img
		width: 63px;
	.navbar-brand
		font-size: 14pt;

@media (min-width: 300px) and (max-width: 320px)
	.navbar-brand img
		width: 50px;
	.navbar-brand
		font-size: 12pt;
