
@media (min-width: 765px) and (max-width: 1024px) 
	.navbar-brand
		width: 546px;

	.navbar-brand img
		width: 17%;

	.navbar .navbar-brand 
		font-size: 13pt;

	.nav-link
		font-size: 13pt;

	.photagraph h3
		font-size: 32pt;

	.goods  img 
		width: 87%
		height: 235px;

	.add, .read_more
		width: 40%;
		font-size: 16pt;


@media (min-width: 425px) and (max-width: 768px) 
	.navbar .navbar-brand 
		font-size: 27pt;

	.nav-item
		text-align: center;

	.nav-link
		font-size: 18pt;

@media (min-width: 375px) and (max-width: 425px) 
	.navbar .navbar-brand 
		font-size: 14pt;
	
	.navbar-brand img
		width: 47px;

	.nav-item
		text-align: center;

	.nav-link
		font-size: 18pt;

	.photagraph h3
		font-size: 26pt;
	.goods  img 
		width: 61%
		height: 239px;

	.add, .read_more
		width: 29%;
		font-size: 14pt;
	.goods
		border: none;

@media (min-width: 320px) and (max-width: 375px) 
	.navbar .navbar-brand 
		font-size: 9pt;
	
	.navbar-brand img
		width: 30px;
	.photagraph h3
		font-size: 18pt;

	.goods
		border: none;
		
	.goods  img 
		width: 72%
		height: 183px;