
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Neucha');
@import 'https://fonts.googleapis.com/css?family=Poiret+One';


body
	// background-color: rgb(210,255,154)
/*Верхнее меню*/
// .header
// 	margin-top: 20px;

.container-fluid
	padding: 0;

// /*Главаный баннер*/
.images img
	width: 100%;

// главное меню
.navbar
	margin-bottom: 20px;

.navbar-brand img 
	width: 100px;

.navbar-light .navbar-brand
	font-family: 'Bad Script', cursive;
	font-size: 22pt;
	color: green;

.nav-link
	font-family: 'Poiret One', cursive;
	font-size: 18pt;

.nav-link i
	color: green;
// .list
// 	text-align: center;
// 	margin-top: 30px;
// 	margin-bottom: 50px;
// .list li 
// 	list-style-type: none;
// 	display: inline;
// 	padding-right: 25px;


// .list li a 
// 	color: black;
// 	// color: rgb(80, 173, 13)
// 	text-decoration: none;
// 	font-family: 'Poiret One', cursive;
// 	font-size: 22pt;
// 	font-weight: bold;
// 	// letter-spacing: 5px;

// .list li a:hover
// 	border-bottom: 3px solid green;

// .list li i 
// 	font-size: 28px;
// 	color: green;

//Фильтр маленький
.filters
	text-align: right;
.filters select
	border: 1px solid green;

/*Заглавные надписи*/

.photagraph h3
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 35pt;
	padding-bottom: 15px;
	border-bottom: 3px solid green;

/*Карточка товара*/

.card 
	border: none;
	margin-bottom: 10px;
	margin-top: 30px;

.card-body 
	text-align: justify;
	font-family: 'Neucha', cursive;
	font-size: 14pt;

.line 
	border-bottom: 10px solid black;


.goods 
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	border-right: 1px solid grey;
	box-sizing: border-box;

 
.goods img 
	width: 84%;
	height: 200px;

.goods .name 
	font-size: 20pt;
	font-family: 'Poiret One', cursive;
	font-weight: bold;


.goods .price 
	font-size: 16pt;
	font-family: 'Neucha', cursive;


.add
	width: 45%;
	background-color: green;
	border: none;
	color: white;
	font-family: 'Neucha', cursive;
	font-size: 16pt;
	
.add i 
	padding-left: 5px;

.read_more 
	width: 45%;
	background-color: green;
	border: none;
	color: white;
	font-family: 'Neucha', cursive;
	font-size: 16pt;
	// margin-left: 25px;


// Боковой фильтр Селекционеры

.dreeders ul 
	padding: 0px;
	margin: 0px;

.dreeders ul li 
		list-style-type: none;

.dreeders ul li a, label 
	font-family: 'Poiret One', cursive;
	font-size: 18pt;
	color: black;

.dreeders ul li a:hover
	color: green;
	font-size: 22pt;

.title_filter
	font-family: 'Poiret One', cursive;
	font-size: 22pt;
	color: black;
	font-weight: bold;
	border-bottom: 2px solid green;

//Фильтр маленький
.select_filters
	text-align: right;

select
	font-size: 14pt;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	width: 250px;
	padding: 7px;
	background-color: white;
	margin-bottom: 15px;
	text-align: right;

// Фильтры с чекбоксами
input
	height: 20px;
	width: 50px;

// 
.page-link
	color: black;




// Пагинация
.page-item a
	border: 2px solid green;

.next
	background-color: green;

//*Подвал*/
.info 
	border-top: 2px solid black;


.info_content ul
	/*text-align: center;*/
	padding: 0;
	margin: 0;


.info_content li 
	list-style-type: none;


.info_content,.infothree 
	margin-top: 30px;
	font-family: 'Neucha', cursive;
	font-size: 14pt;


.info_content h3 
	font-size: 26pt;
	font-family: 'Neucha', cursive;
	color: green;


.infothree h3 
	font-size: 26pt;
	font-family: 'Neucha', cursive;
	color: green;

.infothree
	padding-left: 30px;
.infothree  li
	display: inline;
	padding-left: 5px;


.info_content li a 
	color: black;
	text-decoration: none;


.infothree ul li a  
	color: black;
	text-decoration: none;

.social_networck
	padding: 0px;

 // Пагинация

.mit 
	margin: 50px auto;

.arrows
	color: white;

// Перелючатели кнопок
.hidden_block
	display: none;

.hedden
	display: none;

.show
 	display: block;

.filter
	display: none;